*{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    cursor: pointer;
    font-style: italic;
    background-attachment: fixed;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    color: rosybrown;
    z-index: 1;
}


.nav-list { 
    width: 25%; 
    display: flex; 
} 
  
.nav-list li { 
    list-style: none; 
    padding: 26px 30px; 
} 
  
.nav-list li a { 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
} 
  
.nav-list li a:hover { 
    color: rgb(250, 250, 250); 
} 
  
.rightNav { 
    width: 50%; 
    text-align: right; 
} 
  

 
  
.background { 
    background-color: rgb(85, 32, 32);
    background-blend-mode: darken; 
    text-align: right;

    background-size: cover; 
} 

